soundfile
librosa
pandas
numpy
extract_audio
opencv-python
FFmpeg

# Core
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0

# OpenFlamingo requirements
transformers==4.38.2
accelerate==0.27.2
sentencepiece==0.1.99
einops==0.7.0
ftfy==6.1.1
tqdm==4.66.2
requests==2.31.0
scikit-learn==1.4.1.post1

# LoRA / Fine-tuning support (optional but recommended)
peft==0.10.0
bitsandbytes==0.42.0

# Datasets + evaluation
datasets==2.19.1

# Jupyter / Dev
ipykernel>=6.29.3
matplotlib>=3.8.3
pandas>=2.2.2

